<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
		>
	
	<!-- 缓存管理 -->  
    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"></bean>
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />     
    
    <!--   
	      自定义realm类
	      指定存储用户、角色、权限许可的数据源及相关查询语句  
     -->  
    <bean id="cxjRealm" class="com.guesslive.admin.common.CxjRealm"></bean>  
  
    <!-- Shiro安全管理器 -->  
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">  
        <property name="realm" ref="cxjRealm"></property>  
        <property name="cacheManager" ref="cacheManager"></property> 
        <property name="rememberMeManager" ref="rememberMeManager"/>   
    </bean>  
  
    <!--   
       Shiro主过滤器，支持任何基于URL路径表达式的、自定义的过滤器的执行 
    -->  
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">  
        <!-- Shiro的核心安全接口，这个属性是必须的 -->  
        <property name="securityManager" ref="securityManager"></property>  
        <!-- 要求登录时的链接(登录页面地址)，非必须的属性，默认会自动寻找Web工程根目录下的"/login.jsp"页面 -->  
        <property name="loginUrl" value="/login.html"></property>  
        <!-- 登录成功后要跳转的连接 -->  
        <property name="successUrl" value="/index" ></property>  
        <!-- 用户访问未对其授权的资源时，所显示的连接 -->  
        <property name="unauthorizedUrl" value="/noPower"></property>
        <!-- url过滤器配置 -->  
        <property name="filterChainDefinitions">  
            <value>
            	<!--/goods/getGoodsList/**=authc,perms[menu:goods.getGoodsList]
            	/category/getList/** = authc,perms[menu:category.getList]
            	/spec/getSpec/** = authc,perms[menu:spec.getSpec]
            	/activity/toTodayPendingGoods/** = authc,perms[menu:toTodayPendingGoods]
            	/auth/**=authc,roles[root]
            	/card/**=authc,roles[admin]
            	/index**/**=user-->  
            	/**=anon  
            </value>  
        </property>
    </bean>
    
    <!-- remenberMe配置 -->
   <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
       <constructor-arg value="rememberMe" />
       <property name="httpOnly" value="true" />
       <!-- 默认记住7天（单位：秒） -->
       <property name="maxAge" value="604800" />
   </bean>
   <!-- rememberMe管理器 -->
   <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
       <property name="cipherKey" value="#{T(org.apache.shiro.codec.Base64).decode('4AvVhmFLUs0KTA3Kprsdag==')}" />
       <property name="cookie" ref="rememberMeCookie" />
   </bean>   
  
    <!--   
       	开启Shiro的注解(如@RequiresRoles，@RequiresPermissions)，需借助SpringAOP扫描使用Shiro注解的类， 并在必要时进行安全逻辑验证
		本项目开启注解会造成循环引用问题 还没找到解决方案 暂时不开启注解
    -->  
    <!-- 
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor" ></bean>  
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">  
        <property name="securityManager" ref="securityManager"></property>  
    </bean>
     -->  

</beans>